@page
@model MarketplaceSale.WebHost.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">MarketplaceSale</h1>
    <p class="lead">UI (Razor Pages) + API (Controllers)</p>

    <div class="mt-4 d-flex justify-content-center gap-2 flex-wrap">
        <a class="btn btn-primary" href="/swagger">Open Swagger</a>
        <a class="btn btn-outline-secondary" href="/api/v1/products">Open Products API</a>
    </div>
</div>
