@page
@model MarketplaceSale.WebHost.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>
<p>Учебный проект MarketplaceSale. Персональные данные используются только в рамках работы приложения.</p>
